---
name: Docker build
on: [push]

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to dockerhub
        run: |
          docker login docker.pkg.github.com --username ${{ github.actor }}

      - name: Build Image
        env:
          DOCKER_REPO: limed/travis
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $DOCKER_REPO:latest .
          docker image tag $DOCKER_REPO:latest $DOCKER_REPO:$IMAGE_TAG
          echo "::set-output name=image::$DOCKER_REPO:$IMAGE_TAG"

