---
name: Docker build
on: [push]

jobs:
  build:
    name: Build and push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Docker login
        id: login-docker
        uses: azure/docker-login@v1
        with:
          login-server: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and publish image
        id: docker-build
        env:
          REPO_NAME: ${{ github.repository }}
          DOCKER_REPO: docker.pkg.github.com
          IMAGE_NAME: travis
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t ${DOCKER_REPO}/${REPO_NAME}/${IMAGE_NAME}:${IMAGE_TAG} .
          docker image tag ${DOCKER_REPO}/${REPO_NAME}/${IMAGE_NAME}:${IMAGE_TAG} ${DOCKER_REPO}/${REPO_NAME}/${IMAGE_NAME}:latest
          docker push ${DOCKER_REPO}/${REPO_NAME}/${IMAGE_NAME}:${IMAGE_TAG} ${DOCKER_REPO}/${REPO_NAME}/${IMAGE_NAME}:latest
          echo "::set-output name=docker-server::${DOCKER_REPO}"

      - name: Docker logout
        if: always()
        run: |
          docker logout ${{ steps.docker-build.outputs.docker-server }}
