---
name: Docker build
on: [push]

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build Image
        env:
          DOCKER_REPO: limed/travis
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $DOCKER_REPO:latest .
          docker image tag $DOCKER_REPO:latest $DOCKER_REPO:$IMAGE_TAG
          echo "::set-output name=image::$DOCKER_REPO:$IMAGE_TAG"

      - name: Push image
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: "limed/docker-travis/travis"
          username: ${{ github.actor }}
          password: ${{ github.token }}
          registry: docker.pkg.github.com
          tags: "latest,${{ github.sha }}"

